<td style="padding: 0 15px 35px">
  <table
    width="450"
    align="center"
    style="max-width: 450px; width: 100% !important; margin: 0 auto"
    cellpadding="0"
    cellspacing="0"
  >
    <tbody>
      {{include src="social.hbs"}}
      <tr>
        <td
          align="center"
          style="font-size: 12px;line-height: 17px;font-family: Arial, Helvetica, sans-serif;color: #a5a5a5;padding: 0 0 32px;"
        >
          {{site.theme.copyright}}
          <br />
          {{site.mailingAddress}}
          <br />
          <br />
          <a style="color: #a5a5a5; text-decoration: underline" href="{{manageSubscriptionLink}}" title="Manage Subscription">Manage</a> your email notifications or
          <a style="color: #a5a5a5; text-decoration: underline" href="{{unsubscribeLink}}" title="Unsubscribe">unsubscribe</a> from {{site.name}} emails.
          <br />
          <br />
        </td>
      </tr>
      <tr>
        <td
          align="center"
          style="font-size: 12px;line-height: 17px;font-family: Arial, Helvetica, sans-serif;color:#a5a5a5; padding: 0 0 20px;"
        >
          <!-- NOTE: this image does open tracking so if you remove it, it will jack things up -->
          <a href="{{poweredByLink}}" style="color: #a5a5a5; text-decoration: none" title="Powered by Pinpoint">
            <img
              src="{{poweredByImage}}"
              alt=""
              border="0"
              style="width: auto"
            />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</td>