<tr>
  <td style="padding: 0 0 35px">
    <table
      align="center"
      style="margin: 0 auto"
      cellpadding="0"
      cellspacing="0"
    >
      <tbody>
        <tr>
          {{#if site.theme.social.blog}}
            <td
              class="active-i"
              style="line-height: 1px;font-size: 1px; mso-line-height-rule: at-least;"
            >
              <a
                style="text-decoration: none"
                href="{{site.theme.social.blog}}"
                title="Blog"
              ><img
                  src="https://cdn.pinpoint.com/images/social/blog.png"
                  width="19"
                  style="width: 19px; max-width: 19px;font-size: 10px;line-height: 12px;font-family: Arial, Helvetica, sans-serif;color: #000;background-color: #fff;vertical-align: top;text-align: center;"
                  alt="blog"
                /></a>
            </td>
            <td width="30" style="font-size: 1px; line-height: 1px"></td>
          {{/if}}
          {{#if site.theme.social.facebook}}
            <td
              class="active-i"
              style="line-height: 1px;font-size: 1px; mso-line-height-rule: at-least;"
            >
              <a
                style="text-decoration: none"
                href="{{site.theme.social.facebook}}"
                title="Facebook"
              ><img
                  src="https://cdn.pinpoint.com/images/social/facebook.png"
                  width="19"
                  style="width: 19px; max-width: 19px;font-size: 10px;line-height: 12px;font-family: Arial, Helvetica, sans-serif;color: #000;background-color: #fff;vertical-align: top;text-align: center;"
                  alt="facebook"
                /></a>
            </td>
            <td width="30" style="font-size: 1px; line-height: 1px"></td>
          {{/if}}
          {{#if site.theme.social.instagram}}
            <td
              class="active-i"
              style="line-height: 1px;font-size: 1px; mso-line-height-rule: at-least;"
            >
              <a
                style="text-decoration: none"
                href="{{site.theme.social.instagram}}"
                title="Instagram"
              ><img
                  src="https://cdn.pinpoint.com/images/social/instagram.png"
                  width="19"
                  style="width: 19px; max-width: 19px;font-size: 10px;line-height: 12px;font-family: Arial, Helvetica, sans-serif;color: #000;background-color: #fff;vertical-align: top;text-align: center;"
                  alt="instagram"
                /></a>
            </td>
            <td width="30" style="font-size: 1px; line-height: 1px"></td>
          {{/if}}
          {{#if site.theme.social.linkedin}}
            <td
              class="active-i"
              style="line-height: 1px;font-size: 1px; mso-line-height-rule: at-least;"
            >
              <a
                style="text-decoration: none"
                href="{{site.theme.social.linkedin}}"
                title="LinkedIn"
              ><img
                  src="https://cdn.pinpoint.com/images/social/linkedin.png"
                  width="19"
                  style="width: 19px; max-width: 19px;font-size: 10px;line-height: 12px;font-family: Arial, Helvetica, sans-serif;color: #000;background-color: #fff;vertical-align: top;text-align: center;"
                  alt="linkedin"
                /></a>
            </td>
            <td width="30" style="font-size: 1px; line-height: 1px"></td>
          {{/if}}
          {{#if site.theme.social.twitter}}
            <td
              class="active-i"
              style="line-height: 1px;font-size: 1px; mso-line-height-rule: at-least;"
            >
              <a
                style="text-decoration: none"
                href="{{site.theme.social.twitter}}"
                title="Twitter"
              >
                  <img
                    src="https://cdn.pinpoint.com/images/social/twitter.png"
                    width="19"
                    style="width: 19px; max-width: 19px;font-size: 10px;line-height: 12px;font-family: Arial, Helvetica, sans-serif;color: #000;background-color: #fff;vertical-align: top;text-align: center;"
                    alt="twitter"
                 />
              </a>
            </td>
            <td width="30" style="font-size: 1px; line-height: 1px"></td>
          {{/if}}
          {{#if site.theme.social.github}}
            <td
              class="active-i"
              style="line-height: 1px;font-size: 1px; mso-line-height-rule: at-least;"
            >
              <a
                style="text-decoration: none"
                href="{{site.theme.social.github}}"
                title="GitHub"
              >
                  <img
                    src="https://cdn.pinpoint.com/images/social/github.png"
                    width="19"
                    style="width: 19px; max-width: 19px;font-size: 10px;line-height: 12px;font-family: Arial, Helvetica, sans-serif;color: #000;background-color: #fff;vertical-align: top;text-align: center;"
                    alt="github"
                 />
              </a>
            </td>
          {{/if}}
        </tr>
      </tbody>
    </table>
  </td>
</tr>